.navbar{
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

.jumbotron{
	padding: 2rem;
	background-image: url(img/awl.jpg);
}
.container{
    padding: 4rem;
}
.row{
    padding: 2rem;
}
.container{
		max-height: 100vh;
		min-height: 400px;
}

#hoby{
	padding-top: 4rem;
}

#contact{
	padding-top: 2rem;
}

